<a href="https://colab.research.google.com/github/vishaln94/Digital-Advertising-Analytics/blob/master/Exercise_4_Using_CensusReporter_to_Make_Geographic_Selections_Vishal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd

In [0]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

Parameter 1: The household income that we should target would be $50K - 75K

Parameter 2: The age range that we should target is 18-34.

Parameter 3: We should look for areas with a large hispanic population.

Table ID's needed: Table B01001, B03002 , B19001

In [0]:
tableids = ['B01001', 'B03002', 'B19001']

In [0]:
csvfile = 'drive/My Drive/Colab Notebooks/msas.csv'

In [0]:
df = pd.read_csv(csvfile)
df.head()

    CBSA                         NAME  POPESTIMATE2017
0  10180                  Abilene, TX           170219
1  10420                    Akron, OH           703505
2  10500                   Albany, GA           151434
3  10540                   Albany, OR           125047
4  10580  Albany-Schenectady-Troy, NY           886188

In [0]:
import requests
import json

In [0]:
tablestringid = ','.join(tableids)

In [0]:
requesturl = 'https://api.censusreporter.org/1.0/data/show/latest?table_ids=%s&geo_ids=310|01000US' % tablestringid

In [0]:
loadedjson = requests.get(requesturl)

In [0]:
parsedjson = json.loads(loadedjson.text)

Question 1: Finding the city with the maximum population with those income ranges.

In [0]:
parsedjson['tables']['B19001']

{'columns': {'B19001001': {'indent': 0, 'name': 'Total:'},
  'B19001002': {'indent': 1, 'name': 'Less than $10,000'},
  'B19001003': {'indent': 1, 'name': '$10,000 to $14,999'},
  'B19001004': {'indent': 1, 'name': '$15,000 to $19,999'},
  'B19001005': {'indent': 1, 'name': '$20,000 to $24,999'},
  'B19001006': {'indent': 1, 'name': '$25,000 to $29,999'},
  'B19001007': {'indent': 1, 'name': '$30,000 to $34,999'},
  'B19001008': {'indent': 1, 'name': '$35,000 to $39,999'},
  'B19001009': {'indent': 1, 'name': '$40,000 to $44,999'},
  'B19001010': {'indent': 1, 'name': '$45,000 to $49,999'},
  'B19001011': {'indent': 1, 'name': '$50,000 to $59,999'},
  'B19001012': {'indent': 1, 'name': '$60,000 to $74,999'},
  'B19001013': {'indent': 1, 'name': '$75,000 to $99,999'},
  'B19001014': {'indent': 1, 'name': '$100,000 to $124,999'},
  'B19001015': {'indent': 1, 'name': '$125,000 to $149,999'},
  'B19001016': {'indent': 1, 'name': '$150,000 to $199,999'},
  'B19001017': {'indent': 1, 'name': '$200,000 or more'}},
 'denominator_column_id': 'B19001001',
 'title': 'Household Income in the Past 12 Months (In 2017 Inflation-adjusted Dollars)',
 'universe': 'Households'}

In [0]:
inc1 = pd.DataFrame({ '50 - 59K': { id_: data['B19001']['estimate']['B19001012'] for id_, data in parsedjson['data'].items() }})
inc2 = pd.DataFrame({ '60 - 74K': { id_: data['B19001']['estimate']['B19001013'] for id_, data in parsedjson['data'].items() }})

In [0]:
inc1.loc[inc1['50 - 59K'].idxmax()]

50 - 59K    606435.0
Name: 31000US35620, dtype: float64

In [0]:
inc2.loc[inc2['60 - 74K'].idxmax()]

60 - 74K    824870.0
Name: 31000US35620, dtype: float64

Based on the output above, the city with the maximum individuals with those income ranges is New York/NJ area.

Question 2: Finding the city with the maximum population with the age ranges.

In [0]:
age1 = pd.DataFrame({'Age Range': { id_: data['B01001']['estimate']['B01001007'] for id_, data in parsedjson['data'].items() }})
age2 = pd.DataFrame({'Age Range': { id_: data['B01001']['estimate']['B01001008'] for id_, data in parsedjson['data'].items() }})
age3 = pd.DataFrame({'Age Range': { id_: data['B01001']['estimate']['B01001009'] for id_, data in parsedjson['data'].items() }})
age4 = pd.DataFrame({'Age Range': { id_: data['B01001']['estimate']['B01001010'] for id_, data in parsedjson['data'].items() }})
age5 = pd.DataFrame({'Age Range': { id_: data['B01001']['estimate']['B01001011'] for id_, data in parsedjson['data'].items() }})

In [0]:
age1.loc[age1['Age Range'].idxmax()]
age2.loc[age2['Age Range'].idxmax()]
age3.loc[age3['Age Range'].idxmax()]
age4.loc[age4['Age Range'].idxmax()]
age5.loc[age5['Age Range'].idxmax()]

Age Range    248434.0
Name: 31000US35620, dtype: float64

Age Range    133732.0
Name: 31000US35620, dtype: float64

Age Range    132580.0
Name: 31000US35620, dtype: float64

Age Range    411899.0
Name: 31000US35620, dtype: float64

Age Range    750663.0
Name: 31000US35620, dtype: float64

Based on the output above, the city with the maximum individuals with those age ranges is New York/NJ area.

Question 3: Finding the city with the highest population for that race

In [0]:
race = pd.DataFrame({ 'Hispanic Race': { id_: data['B03002']['estimate']['B03002012'] for id_, data in parsedjson['data'].items() }})

In [0]:
race.loc[race['Hispanic Race'].idxmax()]

Hispanic Race    5972751.0
Name: 31000US31080, dtype: float64

Based on the output above, LA has the most hispanics.

Question 4

In [0]:
income = int(inc1.loc[inc1['50 - 59K'].idxmax()]) + int(inc2.loc[inc2['60 - 74K'].idxmax()])
income

1431305

In [0]:
incomesum = int(inc1.sum()) + int(inc2.sum())

Calculating the percentage for New York area regarding income.

In [0]:
income/incomesum

0.0572046857879845

In [0]:
agetotal = int(age1.loc[age1['Age Range'].idxmax()]) + int(age2.loc[age2['Age Range'].idxmax()]) + int(age3.loc[age3['Age Range'].idxmax()]) + int(age4.loc[age4['Age Range'].idxmax()]) + int(age5.loc[age5['Age Range'].idxmax()])

In [0]:
agetotal2 = int(age1.sum() ) + int(age1.sum()) + int(age3.sum()) + int(age4.sum()) + int(age5.sum())

Calculating the percentage for New York area regarding age

In [0]:
agetotal/agetotal2

0.059436236186491756

In [0]:
race1 = int(race.loc[race['Hispanic Race'].idxmax()])

In [0]:
race2 = int(race.sum())

Calculating the percentage for LA regarding race

In [0]:
race1/race2

0.10173042785840994

The city with the highest percentage out of all the parameters is New York